/* CSS reset */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* Common */
body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

nav ul li{
    display:inline-block
}

.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

/* Palette colori */
.verde-brutto {
    color: #4bc800;
}

 /* Header */
 header {
     width: 100%;
     display: flex;
     justify-content: flex-end;
     background-color: #000
 }

 header .button {
     display: flex;
     align-items: center;
 }

 header .button a{
    background-color: #4a4a4a;
    text-decoration: none;
    color: #fff;
    height: 25px;
    margin: 5px;
    padding:5px 10px;
    border-radius: 4px;
 }

 .button a i[class$="th"] {
     margin-right: 5px;
 }

main {
    background-color: #000;
    height: calc(100vh - 100px);
}

main .container {
    padding-top: 50px;
    height: 100%;
    width: 98%;
    margin: 0 1%;
    overflow-y: auto ;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.container .card,
.last-row .card {
    width: calc((100% / 6) - 5px);
    height: 100px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
    position: relative;
}

.card img {
    object-fit: cover;
}

.last-row {
    width: 100%;
    display:flex;
    justify-content: center;
    padding-bottom: 50px;
}

.nametag {
    position: absolute;
    bottom:0;
    left:0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

/* Footer */
footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:70px;
    background-color: #333;
    position:fixed;
    bottom: 0;
    width: 100%;
    z-index: 900;
}

.footer-l {
    width: 10%;
    color: #fff;
    align-items: center;
}

.footer-l i {
    font-size: 20px;
    padding-bottom: 10px;
}

.footer-l i:not(:last-of-type) {
    margin-right: 10px;
}

.footer-c {
    color: white;
    display: flex;
}

.footer-r {
    width: 10%;
    height: 100%;
}

.footer-r .button {
    width: 100%;
    height: 70px;
}

.footer-r a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 70px;
    background-color: #4a4a4a;
    transition: all 700ms;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.footer-r a:hover {
    background-color: red;
    color: #000;
    text-decoration: underline;
}


 /* Debug */