/* CSS reset */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* Common */
body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

 /* Header */
 header {
     width: 100%;
     display: flex;
     justify-content: flex-end;
     background-color: #000
 }

 .button {
     background-color: #4a4a4a;
     display: flex;
     align-items: center;
     height: 25px;
     margin: 5px;
     padding:5px 10px;
     border-radius: 4px;
 }

 .button a{
     text-decoration: none;
     color: #fff;
 }

 .button a i[class$="th"] {
     margin-right: 5px;
 }

main {
    background-color: #000;
    height: calc(100vh - 100px);
}

main .container {
    padding-top: 50px;
    height: 100%;
    width: 98%;
    margin: 0 1%;
    overflow-y: scroll ;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.container .card,
.last-row .card {
    width: calc((100% / 6) - 5px);
    height: 100px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* object-fit: cover; */
}

.card img {
    object-fit: cover;
}

.last-row {
    width: 100%;
    display:flex;
    justify-content: center;
}



/* Footer */
footer {
    height:70px;
    background-color: #333;
    position:fixed;
    bottom: 0;
    width: 100%;
    z-index: 900;
}
 /* Debug */